body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
}

.main-container {
    display: flex;
    justify-content:stretch;
    height: 100vh;
    width: 100vw;
}

img {
    max-width: 37.08%;
    max-height: 100%;
}

.right-container {
    width: 100vw;
}
    .header {
        margin: 84px 243px 87px 61px;
        font-size: 2rem;
    }
        .emph {
            font-style: italic;
        }

.sign-up {
    color: white;
    background-color: #1f3a63;
    padding: 20px 70px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 13px;
}

form {
    display: flex-wrap;
    flex-wrap: wrap;
    padding: 75px 344px 42px 61px;
    background-color: #ffffff;
    color: #303030;
    font-weight:bold;
    font-size: 14px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.form-row {
    display: flex;
    margin-bottom: 30px;
}

.form-element {
    display: flex;
    flex-direction: column;
    width: 355px;
}

.right {
    margin-left: 93px;
}

label {
    margin-bottom: 2px;
}

.one-line {
    margin-bottom: -95px;
}

.sign-up-text {
    position: relative;
    top: 75px;
    left: 61px;
}

.logo {
    position: absolute;
    top: 155px;
    width: 37.08vw;
    height: 150px;
    background-color: #30303075;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.logo > img {
    margin: 40px 225px;
}

input:not(:focus):valid {
    border-color: none;
}

input:required {
    border-color:red;
}

input:focus {
    border-color: blue;
    box-shadow: inset hoff voff blur #000;
}